canvas {
    margin: 0 auto;
    width: 800px;
    height: 500px;
}

.keys{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    display: none;
}

.keys div{
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 30px;
}

@media screen and (max-width: 800px) {
    canvas {
        width: 350px;
        height: 350px;
    }
    .keys{
        display: flex;

    }
}