
#root{
    width: 800px;
    margin: 0 auto
}

canvas {
    width: 800px;
    height: 500px;
}

.keys{
    margin-top: 60px;
    width: 350px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    display: none;
}

.keys div{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 30px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media screen and (max-width: 800px) {
    canvas {
        width: 350px;
        height: 350px;
    }
    .keys{
        display: flex;

    }
    #root{
        width: 350px;
        margin: 0 auto
    }
}